# main.cpp #
############
# Used for testing
main.cpp
main

# Object files #
################

# test/ext/ where google tests is situated #
############################################
./test/ext/
./test/CMakeLists.txt
./test/build/

# Ignore build artifacts #
##########################
./build/
